* {
  outline: none;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.crow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ccol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.round {
  border: none;
  border-radius: 100px;
  padding: 15px 30px;
  transition: all 0.5s ease;
}

.card {
  border-radius: 5px;
  box-shadow: 3px 3px 3px #ddd;
}

img.logo {
  width: 300px;
  max-width: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
}

.loading img {
  width: 50px;
}

.primary {
  background-color: #1890ff;
}

.secondary {
  background-color: #aaa;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}