#app {
  width: 100%;
  min-height: calc(100vh - 100px);
  padding-top: 100px;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.65);
  background-color: #f0f2f5;
}

div.card {
  background-color: white;
  padding: 20px 0;
  margin: 0 20px;
}

div.card hr {
  border: 2px solid rgba(0, 0, 0, 0.65);
  background-color: rgba(0, 0, 0, 0.65);
  width: 80%;
}

div.profile {
  width: 300px;
  height: 400px;
}

div.profile h3 {
  margin: 0;
}

div.profile img {
  max-width: 60%;
}

h1 {
  margin: 10px 0 0 0;
}

div.button {
  width: 50%;
  color: white;
  font-size: 1.2rem;
  margin: 20px;
  text-align: center;
  background-color: #1890ff;
}

div.tasklist {
  width: 50%;
  justify-content: flex-start;
}

div.task {
  width: 80%;
  margin: 10px;
  background-color: #f0f2f5;
  padding: 0 20px;
  box-shadow: 2px 2px 2px #f0f2f5;
}

@media (max-width: 900px) {
  #app {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  div.card {
    box-shadow: none;
    width: 90%;
    margin: 0;
  }
}

@media (min-width: 900px) {
  div.task:hover,
  div.button:hover {
    box-shadow: 5px 5px 5px #ddd;
  }
}