<!DOCTYPE html>
<html lang="zh">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>学生事务系统</title>
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/home.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.2"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body>
  <div id="app">
    <img class="logo" src="./img/yzzx/logo.png">
    <div class="profile card ccol">
      <img src="./img/person.svg">
      <h1>{{name}}</h1>
      <div class="button round primary" @click="changePwd">修改密码</div>
      <div class="button round secondary" @click="logout">登出</div>
    </div>
    <div class="tasklist card ccol">
      <h1>任务列表</h1>
      <p>{{tip}}</p>
      <div v-if="timestamp" v-for="task in tasklist" class="task round" :style="taskStyle(task)" @click="doTask(task)">
        <h3>{{taskTitle(task)}}</h3>
      </div>
    </div>
  </div>
  <script src="./js/common.js"></script>
  <script src="./js/home.js"></script>
</body>