<!DOCTYPE html>
<html lang="zh">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>学生事务系统</title>
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/index.css">
  <script src="https://cdn.bootcss.com/sweetalert/2.1.2/sweetalert.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/jshashes/1.0.7/hashes.min.js"></script>
</head>

<body>
  <div id="app" class="ccol">
    <img class="logo" src="./img/yzzx/logo.png">
    <transition name="fade" mode="out-in">
      <div class="loading ccol" v-if="loading" key="loading">
        <img src="./img/loading.svg">
        <div class="mark">若等待时间过长，请刷新页面或更换浏览器登录（推荐使用最新版Chrome浏览器）</div>
      </div>
      <div v-else class="form ccol card" key="form">
        <h1>学生事务系统</h1>
        <h2>{{tips.step}}</h2>
        <input ref="input" class="round" :type="tips.inputType" :placeholder="tips.placeholder" v-model="input" @keyup.enter="act" autofocus="autofocus">
        <div class="round button" @click="act">{{tips.button}}</div>
        <a href="http://yzzx.tech">YZSA &copy; 2020 ITI</a>  
      </div>
    </transition>
  </div>
  <script src="./js/common.js"></script>
  <script src="./js/index.js"></script>
</body>