#app {
  width: 100%;
  min-height: calc(100vh - 90px);
  height: 100%;
  padding-top: 90px;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.65);
  background-color: #f0f2f5;
}

.content {
	text-align: left;
	max-width: 90%;
	width: 70vw;
	align-items: center;
	min-height: 70vh;
	height: 100%;
}

p {
	font-size: 1.3rem;
}

div.button {
	width: 70vw;
  font-size: 1.2rem;
  color: white;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #1890ff;
  transition: 0.5s;
}

@media (min-width: 900px) {
  div.button:hover {
    box-shadow: 5px 5px 5px #ddd;
    cursor: pointer;
  }
}