#app {
  width: 100%;
  min-height: calc(100vh - 110px);
  height: 100%;
  padding: 90px 0px 20px;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.65);
  background-color: #f0f2f5;
}

.content {
	text-align: left;
	max-width: 90%;
	width: 70%;
	align-items: center;
	min-height: calc(100vh - 550px);
	height: 100%;
}

div.button {
	width: 80%;
  font-size: 1.2rem;
  margin: 10px auto;
  text-align: center;
  box-shadow: 2px 2px 2px #ddd;
  background-color: #f0f2f5;
  transition: 0.5s;
}

@media (min-width: 900px) {
  div.button:hover {
    box-shadow: 5px 5px 5px #ddd;
    cursor: pointer;
  }
}