<!DOCTYPE html>
<html lang="zh">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>学生事务系统 - 问卷</title>
  <link rel="stylesheet" href="../../css/common.css">
  <link rel="stylesheet" href="./index.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.2"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body>
  <div id="app">
    <img class="logo" src="../../img/yzzx/logo.png">
    <div class="loading ccol" v-if="loading" key="loading">
      <img src="../../img/loading.svg">
    </div>
    <div class="card ccol">
      <div class="content">
        <h1 style="text-align: center;">{{title}}</h1>
        <h3>{{indexes[I]}}.&nbsp;{{q.question}}</h3>
        <textarea v-model="text" :placeholder="'请输入回答，最长' + q.max + '字'" v-if="q.type == 'fill'"></textarea>
        <div v-if="q.type == 'choose'">
          请点击选项，蓝色为选中。
          <div v-for="v,k in q.choice" :class="['round', 'button', 'choice', {'chosen': chosen[k]}]" @click="choose(k)" style="text-align: left;">{{k}}. {{v}}</div>
        </div>
      </div>
      <div class="round button chosen" v-if="!done" @click="next">{{tip}}</div>
      <div class="button round" @click="back">返回</div>
    </div>
  </div>
  <script src="../../js/common.js"></script>
  <script src="./index.js"></script>
</body>