<!DOCTYPE html>
<html lang="zh">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>学生事务系统 - 选课</title>
  <link rel="stylesheet" href="./index.css">
  <link rel="stylesheet" href="../../css/common.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.2"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body style="margin: 0;">
  <div id="app">
    <img class="logo" src="../../img/yzzx/logo.png">
    
    <div class="loading ccol" v-if="loading" key="loading">
      <img src="../../img/loading.svg">
    </div>
    <div class="courses">
      <h1>{{title}}</h1>
      <div class="courses">
        <div v-for="(n, c) in courses" class="course round" :style="courseStyle(c)" @click="enroll(c)">{{c}}&nbsp;({{n}})</div>
      </div>
    </div>
    <div v-if="!loading" class="button" @click="back">返回</div>
    <br />
  </div>
  <script src="../../js/common.js"></script>
  <script src="./index.js"></script>
</body>