* {
  outline: none;
}

#app {
  width: 100%;
  min-height: calc(100vh - 100px);
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: rgba(0, 0, 0, 0.65);
}

div.button {
  width: 80%;
  font-size: 1.2rem;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.65);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 100px;
  transition: all 0.5s ease;
}

div.course {
  width: 400px;
  max-width: 80%;
  margin: 10px;
  background-color: #f0f2f5;
  padding: 20px 40px;
  box-shadow: 2px 2px 2px #ddd;
  
}

div.courses{
  max-width: 100%;
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 900px) {
  div.button:hover, div.course:hover {
    box-shadow: 5px 5px 5px #ddd;
    cursor: pointer;
  }
}