* {
  outline: none;
}

div.button {
	width: 100px;
	height: 45px;
	color: white;
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;
  border-radius: 100px;
  transition: all 0.5s ease;
}

div.row {
	margin-left: 10%;
	width: 80%;
	text-align: center;
	border-bottom: 1px solid #d9d9d9;
  height: 55px;
  line-height: 48px;
  display: flex;
  justify-content: space-around;
}

div.col {
	width: 30%;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.trow {
	border: none;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

div.tcol {
	font-size: 1.2rem;
	font-weight: bold;
}

div.content {
	min-height: 70vh;
}

div.back {
	width: 75%;
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;
  background: white;
  color: black;
  border: 1px solid #1890ff;
  transition: 0.5s;
}

body {
  margin: 0;
}

@media (min-width: 900px) {
  div.button:hover, div.back:hover {
    box-shadow: 5px 5px 5px #ddd;
    cursor: pointer;
  }
}