* {
  outline: none;
}

.crow{
	flex-wrap: wrap;
}

.ccol {
	position: relative;
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;

}

@media (min-width: 768px) {
	.ccol {
		max-width: 100%;
		flex:0 0 50%;
	}
	.crow {
		align-items: flex-start!important;
	}
}

#app {
  width: 100%;
  min-height: calc(100vh - 100px);
  padding-top: 100px;
  justify-content: center;
  /*color: rgba(0, 0, 0, 0.65);*/
  background-color: #f0f2f5;
}

div.button {
	width: 80%;
  font-size: 1.2rem;
  margin: 0 auto;
  border: 1px solid #1890ff;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 100px;
  transition: all 0.5s ease;
}

div.course {
	width: 350px;
	max-width: 80%;
  margin: 10px;
  background-color: #f0f2f5;
  padding: 0 8px;
  box-shadow: 2px 2px 2px #ddd;
  /*overflow: hidden;*/
}

@media (max-width: 900px) {
	div.course {
		width: 80vw;
	}
}

div.courses{
	max-width: 80%;
	margin-left: 10%;
  justify-content: flex-start;
	min-height: 70vh;
}

body {
  margin: 0;
}

@media (min-width: 900px) {
  div.button:hover, div.course:hover {
    box-shadow: 5px 5px 5px #ddd;
    cursor: pointer;
  }
}